<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Use correct character set. -->
  <meta charset="utf-8">
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <!-- Tell IE to use the latest, best version. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>Hello World!</title>
  <link rel="stylesheet" href="/front-source/scss/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&amp;subset=cyrillic-ext" rel="stylesheet">
  <script src="/Cesium.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/jquery.nice-select.min.js"></script>
  <style>
      @import url(/Widgets/widgets.css);
      html, body, #cesiumContainer {
          width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
      }
  </style>
</head>
<body class="body-push">
  <nav class="menu menu-open" id="theMenu">
		<div class="menu-wrap">
			<h1>We have got your data!</h1>
      <p>Assign functionality to fields:</p>
			<div class="filter-table">
			  <ul class="filter-table__header">
			    <li>Field name</li>
          <li>Function</li>
          <li>Use</li>
			  </ul>
			</div>
      <button id="menu__button" class="menu__button">Start viz magic!</button>
		</div>

		<!-- Menu button -->
		<div id="menuToggle" class=""><i class="icon-reorder"></i></div>
	</nav>
  <!-- <div class="switch">
    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
    <label for="cmn-toggle-1"></label>
  </div> -->

  <div class="point-block">
    <h1>Information about point</h1>
    <div class="point-block__text">
      <p class="point-block__title">field4:</p>
      <p class="point-block__desc">Value value value value value value value value value</p>
    </div>
  </div>

  <div id="cesiumContainer"></div>
  <script>
  $(document).ready(function() {
    $('select').niceSelect();
  });
  </script>
  <script type="text/javascript">
    window.responseObject = <%- response %>;
  </script>
  <script src="/bundle.js" defer></script>
</body>
</html>
