body {
  font-family: 'Open Sans', sans-serif;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

input.cmn-toggle-round + label {
    padding: 2px;
    width: 120px;
    height: 60px;
    background-color: #dddddd;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}

input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round:checked + label:after {
    margin-left: 60px;
}

input.cmn-toggle-round + label:after {
    width: 58px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
}


// checkbox

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 2px;
  }

  // Box hover
  &:hover + label:before {

  }

  &:hover + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: #346d94;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #346d94, 4px 0 0 #346d94, 4px -2px 0 #346d94, 4px -4px 0 #346d94, 4px -6px 0 #346d94, 4px -8px 0 #346d94;
    transform: rotate(45deg);
  }

  // Box checked
  &:checked + label:before {
    // border: 1px solid white;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: #346d94;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 #346d94,
      4px 0 0 #346d94,
      4px -2px 0 #346d94,
      4px -4px 0 #346d94,
      4px -6px 0 #346d94,
      4px -8px 0 #346d94;
    transform: rotate(45deg);
  }
}

.filter-table {
  & > ul {
    padding: 0;
    display: flex;
    justify-content: space-between;

    & > li {
      list-style: none;
      font-size: 14px;
      line-height: 28px;
    }

    & > li:first-child {
      width: 135px;
    }

    & > li:nth-child(2) {
      width: 170px;
    }

    & > li:nth-child(3) {
      width: 30px;;
    }
  }

  .filter-table__header {

    li {
      font-weight: 700;
    }
  }
}

.hi-block {
  width: 400px;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.hi-block__text {
  text-align: center;
  color: white;

  h1 {
    font-size: 68px;
    margin: 0;
  }

  p {
    font-size: 24px;
    margin-top: 0;
    font-weight: 600;
    line-height: 28px;
  }
}

.hi-block__form {
  background: #346d94;
  padding: 25px 30px;
  color: white;
  border-radius: 2px;

  label {
    display: block;
    font-size: 16px;
    margin-bottom: 2px;
  }

  input, textarea {
    border: 0;
    outline: none;
    padding: 7px;
    font-size: 14px;
    border-radius: 2px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
  }

  .first-input {
    margin-bottom: 10px;
  }
}

.hi-block__download-btn {
  background: rgb(87, 162, 218);
  border: none;
  color: #fff;
  padding: 8px 43px;
  border-radius: 2px;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 9px;
  outline: none;
  cursor: pointer;
  width: 100%;
  width: 164px;
  padding: 8px 0;
  display: inline-block;
  text-align: center;
  margin: 0;

  &.right {
    float: right;
    background: rgba(39,174,96,.9);
  }
}

.hi-block__show-btn {
  cursor: pointer;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: 15px;

  &:hover, &:active {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }
}

.btn-desc {
  font-size: 12px;
  margin-top: 13px;
  display: block;
  text-align: right;
}

.first-btn-container {
  margin-top: 15px;
}

.point-block {
  background: #346d94;
  padding: 20px 25px;
  color: #fff;
  border-radius: 2px;
  position: fixed;
  width: 250px;
  right: 10px;
  top: 10px;
  z-index: 99;

  h1 {
    margin: 0;
    font-size: 18px;
  }

  p {
    margin: 0;
    line-height: 16px;
    font-size: 14px;
  }

  .point-block__title {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 3px;
  }
}

.hide {
  visibility: hidden;
  position: absolute;
}

.main-wrapper {
  margin: 0;
  height: 100vh;
  background: url('/images/main.jpg');
  background-size: cover;
}

.filter {
  margin: 0;
  height: 100vh;
  background-color: rgba(19, 18, 18, .5);
}

.animation-block {
  background: #346d94;
  padding: 20px 25px;
  color: #fff;
  border-radius: 2px;
  position: fixed;
  width: 165px;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;

  label {
    margin-bottom: 2px;
    display: inline-block;
  }

  h1 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
  }

  .animation-block__input {
    border: 0;
    outline: none;
    padding: 7px;
    font-size: 14px;
    border-radius: 2px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  .animation-block__input-1 {
    margin-bottom: 10px;
  }

  .animation-block__btn {
    background: rgba(39,174,96,.9);
    border: none;
    color: #fff;
    padding: 8px 43px;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 9px;
    outline: none;
    cursor: pointer;
    width: 100%;
    width: 164px;
    padding: 8px 0;
    display: inline-block;
    text-align: center;
    margin: 0;
    float: right;
  }
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 11px solid white;
  float: left;
  margin-left: 10px;
  margin-right: -11px;
}

.animation-block-1 {
  width: 46%;
  display: inline-block;
}

.animation-block-2 {
  width: 46%;
  display: inline-block;
  float: right;
}
